html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 10px;
    background-color: #0c0c0c;
}

::-webkit-scrollbar-thumb {
    background: white;
}

body {
    padding: 0;
    margin: 0;
    color: white;
    background-color: #0c0c0c;
    font-family: 'Poppins', sans-serif;
    line-height: 1.5;
}

a {
    text-decoration: none;
    color: white;
}

/*menu*/

.header {
    top: 0;
    width: 100%;
    position: fixed;
}

.navbar-items ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.navbar-items li {
    float: left;
}

.navbar-items li a {
    display: block;
    text-align: center;
    padding: 0px 12px;
    text-decoration: none;
}

.navbar-items li  {
    margin: 0px
}

.navbar-items li h3:hover {
    border-bottom: 2px solid white;
}

.navbar-container {
    display: flex;
    height: 64px;
}

.navbar-photo {
    margin: auto;
    margin-left: 1.5%;

}

.navbar-photo img {
    vertical-align: middle;
    width: 48px;
    border-radius: 50%;
    cursor: pointer;
}

.navbar-items {
    margin: auto;
    margin-right: 1.5%;
}

.main {
    margin: 0 auto;
}

/*sobre*/

.about {
    width: 70%;
    height: 100vh;
    margin: auto;
    display: flex;
    align-items: center;
}

.photo-about {
    text-align: right;
    width: 50%;
}

.photo-about img {
    margin-right: 1.5%;
    width: 400px;
}

.text-about {
    margin-left: 1.5%;
    text-align: left;
    width: 50%;
}

.text-about h1 {
    color: #1d87dd;
    margin: 0px;
}

.text-about img {
    width: 20px;
    height: 20px;
    vertical-align: middle;
}

#dev {
    color: #1d87dd;
}

/* #dev {
    background: #1d87dd;
    -webkit-gradient: (linear, left top, right top, from(#1d87dd), to(#1d87dd), color-stop(0.5, #fff)) 0 0 no-repeat;
	background-image: -webkit-linear-gradient(-40deg, transparent 0%, transparent 40%, #fff 50%, transparent 60%, transparent 100%);
	-webkit-background-size: 500px;
	color: rgba(255, 255, 255, 0.3);
	-webkit-background-clip: text;
	-webkit-animation-name: shine;
	-webkit-animation-duration: 5s;
	-webkit-animation-iteration-count: infinite;
	text-shadow: 0 0px 0px rgba(255, 255, 255, 0.5);
} */

.text-about h2 {
    font-weight: 100;
    margin: 30px 0;
    font-size: 400%;
    line-height: 1.1;
}

.text-about ul {
    margin: 0;
    padding: 0;
    line-height: 1.5;
    font-size: 112.5%;
}

.text-about ul li {
    text-indent: 5px;
    margin: 10px 0;
    list-style: none;
}

.text-about ul li a:hover {
    text-decoration: underline;
}

/*portfólio*/

.portfolio {
    width: 100%;
    background-color: #1d87dd;
}

.container-portfolio {
    padding: 50px 0 55px;
    width: 70%;
    margin: auto;
}

.container-portfolio h1 {
    margin: 0px;
}

.site {
    margin: 50px 0 0;
    display: flex;
}

.preview-site {
    width: 37.5%;
}

.preview-site img {
    width: 100%;
    border-radius: 6px;
    box-shadow: 5px 5px 5px rgb(20, 20, 20);
}

.container-text {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.text-site {
    width: 100%;
    height: auto;
    margin-left: 3%;
}

.text-site h3 {
    font-weight: 600;
    font-size: 150%;
    margin: 0;
}

.text-site button {
    margin: auto 20px auto 0;
    font-weight: 500;
    color: #0c0c0c;
    height: 40px;
    padding: 0 14px;
    font-size: 100%;
    border: transparent;
    background-color: white;
    border-radius: 4px;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    transition: all 0.3s;
    box-shadow: 5px 5px 5px rgb(20, 20, 20);
}

.text-site button:hover {
    background-color: #0c0c0c;
    color: white;
    box-shadow: 0px 2px 5px rgb(20, 20, 20);
}

.text-site button svg, .text-site button span {
    width: 16px;
    height: 16px;
    vertical-align: middle;
}

.languages {
    margin: auto auto 0 3%;
}

.languages img {
    width: 4%;
}

/*contato*/

.contact {
    padding: 0;
    width: 70%;
    margin: auto;
    display: flex;
    text-align: center;
    height: 100vh;
}

.text-contact {
    margin: auto;
    width: 100%;
    align-items: center;
}

.text-contact h1 {
    font-weight: 100;
    font-size: 362.5%;
    margin: 0 0 40px;
}

.text-contact h3 {
    font-weight: 100;
    font-size: 225%;
    margin: 50px 0;
}

.text-contact a:hover {
    text-decoration: underline;
}

.container-socialmedia {
    display: flex;
}

.container-socialmedia p {
    text-align: center;
    margin: 0 auto;
    display: inline-block;
}

.container-socialmedia svg {
    color: white;
    width: 24px;
    height: 24px;
    margin-right: 5px;
    vertical-align: text-bottom;
}

.container-socialmedia a:hover, .container-socialmedia a:hover svg{
    color: #1d87dd;
}

@media screen and (max-width: 1207px) {
    .text-about {
        width: 60%;
    }
    .photo-about {
        width: 60%;
    }
    .preview-site {
        width: 45%;;
    }
    .languages img {
        width: 6%;
    }
    .text-site {
        margin-left: 5%;
    }
    .languages {
        margin-left: 5%;
    }
}

@media screen and (max-width: 1023px){
    .about, .container-portfolio {
        width: 98%;
    }
    .title {
        text-align: center;
    }
    .container-socialmedia p a {
        margin: auto 1px;
    }
}

@media screen and (min-width: 320px) and (max-width: 767px){
    .about, .preview-site, .container-text {
        width: 100%;
    }
    .photo-about {
        display: none;
    }
    .text-about {
        margin: 0 auto;
        width: 98%;
    }
    .text-about h1 {
        text-align: center;
    }
    .contact {
        width: 98%;
    }
    .container-socialmedia, .site {
        flex-direction: column;
    }
    .text-site, .languages {
        margin: 0;
    }
    .preview-site img, .text-site button {
        box-shadow: none;
    }
    .text-site button {
        margin: auto 10px;
    }
    .languages {
        margin-top: 20px;
        text-align: center;
    }
    .navbar-items li a {
        padding: 0 10px;
    }
}
