@import url(reset.css);
@import url(default.css);
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    background-color: var(--color-lightbg);
    color: var(--color-white);
    overflow-x: hidden;
}

a {
    color: currentColor;
    text-decoration: none;
}

/* Header */
header {
    padding: 10px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: fixed;
    top: 0;
    background-color: var(--color-lightbg);
    z-index: 1;
}

.header-logo img {
    width: 64px;
    border-radius: 50%;
    background-color: var(--color-darkbg);
    margin-left: 40px;
}

.header-translate {
    margin-right: 40px;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

nav ul>li {
    font-size: 1.2rem;
    margin: 0 10%;
}

nav ul>li:hover a {
    color: var(--color-lightred);
}

.menu {
    display: none;
}

.fixed {
    box-shadow: 0px 0px 10px #2b2b2b;
}

/* Home */
.home {
    display: flex;
    flex-direction: row;
    padding: 0px 100px 0px;
    background: url("../media/images/profile.png") no-repeat right center;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right 50px;
    min-height: 100vh;
    justify-content: space-between;
    margin-top: 0px;
}

.art-esq {
    margin: 20% 0 auto ;
}

.art-esq h1>strong {
    color: var(--color-lightred);
    font-size: 3rem;
}

.art-esq p {
    font-size: 1.7rem;
}

.art-esq button {
    margin-top: 30px;
    color: var(--color-lightred);
    border: 3px solid var(--color-lightred);
    background-color: transparent;
    padding: 7px 10px;
    font-size: 1.5rem;
    border-radius: 6px;
}

.art-esq button:hover {
    box-shadow: 0px 0px 5px var(--color-lightred),
    0px 0px 5px var(--color-lightred) inset;
    text-shadow: 0px 0px 5px var(--color-lightred);
}

.art-dir {
    margin: auto 0 100px 0;
}

.art-dir ul>li {
    margin: 30px 0 0;
}

.art-dir ul>li img {
    width: 48px;
}

.art-dir::before {
    content: "";
    width: 5px;
    height: 150px;
    background-color: var(--color-lightred);
    position: absolute;
    transform: translateY(-150px);
    border-radius: 5px;
    margin-left: 22px;
}

.header-menu, .header-fecha {
    display: none;
}

/* Titles */
.sobre h2, .skills h2, .portfolio h2, .depoimentos h2, .contato h2 {
    font-size: 3.5rem;
}

.sobre, .skills, .portfolio, .depoimentos, .contato {
    padding: 50px 70px;
    background-color: var(--color-darkbg);
}

/* About */
.sobre {
    padding-top: 150px;
}

.sobre p {
    margin: 30px 80px;
    margin-left: 95px;
    font-size: 1.5rem;
    text-align: justify;
    line-height: 1.75rem;
}

.sobre p::before {
    content: "";
    width: 75px;
    height: 3px;
    background-color: var(--color-lightred);
    position: absolute;
    left: 72px;
    border-radius: 3px;
    margin-top: 12px;
}

/* Skills */
.skills h2, .portfolio h2 {
    text-align: center;
}

.grade-skills {
    margin-top: 50px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: center;
    gap: 50px;
}

.abilities {
    background-color: var(--color-lightbg);
    width: 250px;
    height: 250px;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
}

.abilities:hover {
    background-color: #ff6b6b;
}

.abilities img {
    height: 64px;
}

.abilities p {
    margin-top: 20px;
}

/* Portfolio */
.portfolio {
    padding-top: 100px;
    padding-bottom: 120px;
    text-align: center;
}

.portfolio button {
    margin-top: 60px;
    padding: 10px 15px;
    background-color: var(--color-lightred);
    font-size: 1.5rem;
    border-radius: 4px;
    border: none;
}

.portfolio button svg {
    width: 1.5rem;
    height: 1.5rem;
    vertical-align: top;
    color: #000;
}

.grid-portfolio {
    margin-top: 50px;
    display: grid;
    justify-content: center;
    gap: 50px;
    grid-template-columns: auto auto auto;
}

.projects {
    text-align: center;
    width: 400px;
    height: 400px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
}

.projects h3, .projects p, .projects button {
    opacity: 0;
}

.projects:hover h3, .projects:hover p, .projects:hover button {
    opacity: 1;
    transition: 0.1s all ease-in;
}

.projects:hover {
    background: black !important;
}

.projects h3 {
    font-size: 2rem;
    margin-bottom: 10px;
}

.projects p {
    font-size: 1.25rem;
    text-align: justify;
    width: 250px;
    margin-bottom: 20px;
}

.projects button {
    font-size: 1.25rem;
    display: flex;
    flex-direction: row;
    vertical-align: middle;
    background-color: var(--color-lightred);
    color: #000;
    border: none;
    border-radius: 4px;
    padding: 10px 15px;
}

.projects button>a>svg {
    width: 1.25rem;
    height: 1.25rem;
    vertical-align: top;
}

.project1 {
    background: url("../media/projects/landingpage.png") no-repeat center;
    background-size: cover;
}

.project2 {
    background: url("../media/projects/cursosfodas.png") no-repeat center;
    background-size: cover;
}

.project3 {
    background: url("../media/projects/tsi.png") no-repeat center;
    background-size: cover;
}

.project4 {
    background: url("../media/projects/atracoes018.png") no-repeat center;
    background-size: cover;
}

/* Testimonials */
.depoimentos {
    background-color: var(--color-lightbg);
    padding-top: 120px;
}

.testimonials {
    margin: 70px 100px 0;
    width: 70%;
}

.testimonials::before {
    content: "";
    background-color: var(--color-lightred);
    height: 3px;
    left: 72px;
    border-radius: 3px;
    margin-top: 12px;
    width: 80px;
    position: absolute;
    left: 70px;
}

.testimonials p {
    font-size: 1.5rem;
    color: #b3b3b3;
    margin: 10px 0;
    line-height: 1.75rem;
}

.testimonials p>strong {
    color: var(--color-white);
}

.testimonials p>span {
    color: var(--color-lightred);
}

.testimonials p:nth-child(2) {
    margin-top: 30px;
}

.testimonials p:last-child {
    margin-left: +60px;
    font-size: 1.25rem;
    margin-bottom: 70px;
}

.testimonials p:last-child::before {
    content: "";
    background-color: var(--color-lightred);
    height: 3px;
    border-radius: 3px;
    margin-top: 12px;
    width: 40px;
    position: absolute;
    left: 172px;
}

/* Contact */
.contato {
    border-bottom: 3px solid var(--color-lightred);
    padding-bottom: 60px;}

.contato h2 {
    text-align: center;
    transform: translateY(-81px);
}

.contato h2::before {
    content: "";
    background-color: var(--color-lightred);
    height: 3px;
    left: -70px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    margin-top: 29px;
    width: 45%;
    position: absolute;
}

.contato h2::after {
    content: "";
    background-color: var(--color-lightred);
    height: 3px;
    right: -70px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    margin-top: 29px;
    width: 45%;
    position: absolute;
}

.contact {
    display: grid;
    justify-content: space-evenly;
    grid-template-columns: auto auto auto;
    gap: 50px;
}

.contact p {
    color: var(--color-lightred);
    font-size: 1.25rem;
    padding: 15px 30px;
    border-radius: 10px;
    background-color: var(--color-lightbg);
    cursor: pointer;
    margin: 0 auto;
}

.contact p:hover {
    background-color: var(--color-lightred);
    color: var(--color-white);
    transition: all 0.1s linear;
}

.contact p img {
    width: 2rem;
    height: 2rem;
    vertical-align: middle;
    margin-right: 20px;
}

/* Footer */
footer {
    text-align: center;
    padding: 80px 0px 120px;
    color: var(--color-lightred);
}

@media (max-width: 1439px) {
    .grid-portfolio, .contact  {
        grid-template-columns: auto auto;
    }
}

@media (max-width: 1209px) {
    .grade-skills {
        grid-template-columns: auto auto auto;
    }
}

@media (max-width: 899px) {
    header nav, .header-translate, .fecha {
        display: none;
    }
    .header-menu {
        display: block;
        margin-right: 40px;
    }

    .abre {
        display: block;
    }

    .grid-portfolio, .contact  {
        grid-template-columns: auto;
    }
    .grade-skills {
        grid-template-columns: auto auto;
    }
    .open {
        display: flex;
        height: calc(100vh - 87px);
        width: 100%;
        background-color: var(--color-lightbg);
        position: absolute;
        top: 87px;
        justify-content: center;
        transform: translateX(0px);
        transition: transform 1s;
    }
    .open ul {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .open ul>li {
       margin: auto 0;
    }

    .open ul>li a>img {
        vertical-align: text-top;
        margin-right: 5px;
        width: 1.2rem;
    }
    
    .hidden {
        overflow: hidden;
    }
    .fecha #img-header {
        display: none;
    }
}

@media (max-width: 619px) {
    .grade-skills {
        grid-template-columns: auto auto;
        gap: 20px;
    }

    .abilities {
        width: 150px;
        height: 150px;
    }

    .projects {
        width: 300px;
        height: 300px;
    }

    .contato {
        border-top: 3px solid var(--color-lightred);
    }

    .contato h2 {
        transform: none;
        margin-bottom: 50px;
    }

    .contato h2::after, .contato h2::before, .sobre p::before, .testimonials::before, .testimonials p:last-child::before {
        display: none;
    }

    .contact p {
        font-size: 0.95rem;
    }

    .contact p img {
        width: 1.5rem;
        height: 1.5rem;
    }

    .sobre p {
        margin: 30px 0 0;
        font-size: 1.25rem;
    }

    .sobre, .skills, .portfolio, .depoimentos, .contato {
        padding: 50px 50px;
    }

    .testimonials  {
        margin: 50px 0;
        width: 100%;
    }

    .testimonials p {
        text-align: justify;
        font-size: 1.25rem;
        line-height: 1.5rem;
    }

    .testimonials p:last-child {
        margin-left: 20px;
        font-size: 1rem;
        margin-bottom: 70px;
        line-height: 1.25rem;
    }

    .home {
        padding: 50px 40px 50px;
        min-height: auto;
    }

    .art-dir {
        display: none;
    }

    footer {
        padding: 50px 0px 50px;
    }

    footer h1 {
        font-size: 1.5rem;
    }
}

@media (max-width: 619px) {
    .grade-skills {
        grid-template-columns: auto;
    }

    #title {
        font-size: 2.5rem;
    }

    footer h1 {
        font-size: 1rem !important;
    }
}